@model List<UserRolesViewModel>
@inject IAuthorizationService authorizationService

@{
    var userId = ViewBag.userId;
    Layout = "_AdminLayout";
}

<form method="post">
    <div class="card">
        <div class="card-header">
            <h3>Manage User Roles</h3>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].RoleId" />
                    <input type="hidden" asp-for="@Model[i].RoleName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].RoleName
                    </label>
                </div>
            }
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            @if ((await authorizationService.AuthorizeAsync(User, "EditRolePolicy")).Succeeded)
            {
                <input type="submit" value="Update" class="btn btn-outline-success" />
            }

            <a asp-action="EditUser" asp-route-id="@userId" class="btn btn-outline-warning">Cancel</a>
        </div>
    </div>
</form>